@import "styles/globals.module";
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.logo {
  max-width: 250px;
  user-select: none;

  @media (max-width: $mobile-screen) {
    max-width: 300px;
    padding-top: $separation-32;
  }

  @media (max-width: 320px) {
    max-width: 200px;
    padding-top: $separation-32;
  }
}