@import "styles/globals.module";

.recipe {
  &__container {
    cursor: pointer;
  }

  &__image {
    border-radius: $border-radius-2;
    position: relative;
    width: 350px;
    height: 300px;
    overflow: hidden;
    margin-bottom: $separation-16;
  }

  &__title {
    font-size: 18px;
    margin: 0;
  }

  &__ingredients {
    font-size: 14px;
    margin: 0;
    color: #363636;

    & > span {
      font-weight: bold;
    }
  }
}

.card {
  box-shadow: $card-elevation-1;
  padding: $separation-16;
  border-radius: $border-radius-2;
  width: 100%;
}

@media (max-width: $tablet-screen) {
  .recipe {
    &__image {
      width: 320px;

    }
  }
}

@media (max-width: $mobile-screen) {
  .recipe {
    &__image {
      border-radius: $border-radius-2;
      position: relative;
      width: 200px;
      height: 150px;
      overflow: hidden;

      & > img {
        object-fit: cover;
      }
    }
  }

  .card {
    box-shadow: $card-elevation-1;
    padding: $separation-16;
    border-radius: $border-radius-2;
    width: 90vw;

    .recipe__image {
      width: 100%;
      height: 200px;
    }
  }
}