@import "styles/globals.module";


.us {
  &__content {
    display: flex;
    align-items: center;
    margin: $separation-24 $separation-56;
    text-align: center;

    & span {
      font-weight: bold;
    }
  }

  &__image {
    position: relative;
    width: 50%;
    height: 40vh;
    margin: $separation-16 auto;
  }
}

@media (max-width: $tablet-screen) {
  .us {
    &__content {
      margin: $separation-8 $separation-8;
      text-align: justify;
    }

    &__image {
      width: 80%;
      margin: 0 auto;
    }
  }
}
