@import "styles/globals.module";

.separator {
  height: 4px;
  width: $separation-62;
  background-color: $primary-color;
  margin: $separation-32 0;
}

.center {
  margin: $separation-32 auto;
}

@media (max-width: $tablet-screen) {
  .separator {
    margin: $separation-32 auto;
  }
}