@import "styles/globals.module";

.additional-info {
  padding: $separation-16 0;
  display: flex;
  justify-content: space-around;
  width: 100%;

  p {
    font-size: 14px;
    margin: 0;
  }

  &__time {
    text-align: center;
    &-icon {
      color: #626262;
    }
  }

  &__difficulty {
    text-align: center;
    &-icon {
      color: #ffd169;
    }
  }

  &__calories {
    text-align: center;
    &-icon {
      color: #ffa265;
    }
  }
}