@import "styles/globals.module";

.recipe {
  padding: $separation-32;

  &__header {
    display: flex;
    gap: $separation-32;
    justify-content: space-between;
  }

  &__image {
    position: relative;
    width: 50%;
    max-height: 500px;
    height: 50vw;
    margin-left: -60px;
    border-radius: $border-radius-2;
    overflow: hidden;
    transition: ease all 0.5s;

    & > img {
      object-fit: cover;
    }
  }

  &__content {
    width: 50%;
  }

  &__title {
    text-transform: uppercase;
    font-size: 40px;
  }

  &__description {
    text-align: justify;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: $separation-56 0;

    & h4, p {
      margin: 0;
    }
  }

  &__additional-info {
    max-width: 600px;
    width: 50%;
    margin: $separation-56 auto $separation-16;
    border-radius: $border-radius-2;
    display: flex;
    align-items: center;
    box-shadow: $card-elevation-1;
  }

  &__preparation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__ingredients {
    width: 45%;
    padding: $separation-16 $separation-16;
    border-radius: $border-radius-2;

    &-title {
    }

    &-items {
      display: flex;
      flex-direction: column;
      text-transform: capitalize;
      gap: $separation-8 0;

      input {
        accent-color: $primary-color;
      }
    }
  }

  &__steps {
    padding: $separation-16;

    &-content {
      display: flex;
      flex-direction: column;
      gap: $separation-32;
    }

    &-item {
      text-align: justify;
      display: flex;
      justify-content: space-around;
      gap: $separation-32;

      & p {
        width: 60%;
        margin: 0;
      }

      & span {
        font-size: 18px;
        font-weight: bold;
      }

      &-image {
        margin: 0 auto $separation-40;
        position: relative;
        height: 30vw;
        max-height: 400px;
        width: 40%;
        overflow: hidden;
        border-radius: $border-radius-2;

        & > img {
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: $tablet-screen) {
  .recipe {
    &__header {
      flex-wrap: wrap;
    }

    &__title {
      text-align: center;
    }

    &__image {
      width: 120vw;
      margin: auto;
      margin: 0 -50px;
      border-radius: 0;
    }

    &__content {
      width: 100%;
    }

    &__additional-info {
      width: 100%;
      margin: $separation-16 auto;
    }

    &__ingredients {
      width: 100%;

      &-title {
        text-align: center;
      }

      &-items {
        gap: $separation-16 0;
      }
    }

    &__steps {
      text-align: center;

      &-item {
        flex-direction: column;

        & p {
          width: 100%;
        }
        &-image {
          width: 100%;
          height: 50vw;
        }
      }
    }
  }
}

@media (max-width: $mobile-screen) {
  .recipe {
    padding: 0;

    &__image {
      height: 65vw;
      margin: 0 -30px;
    }
  }
}