@import "styles/globals.module";

.recipe {
  padding: $separation-32;

  &__header {
    display: flex;
    gap: $separation-32;
    justify-content: space-between;
  }

  &__image {
    position: relative;
    width: 50%;
    max-height: 500px;
    height: 50vw;
    margin-left: -60px;
    border-radius: $border-radius-2;
    overflow: hidden;

    & > img {
      object-fit: cover;
    }
  }

  &__content {
    width: 50%;
  }

  &__title {
    text-transform: uppercase;
    font-size: 40px;
  }

  &__description {
    text-align: justify;
  }

  &__separator {
    height: 4px;
    width: $separation-62;
    background-color: $primary-color;
    margin: $separation-32 0;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: $separation-56 0;

    & h4, p {
      margin: 0;
    }
  }

  &__additional-info {
    max-width: 600px;
    width: 50%;
    margin: $separation-56 auto $separation-32;
    border-radius: $border-radius-2;
    display: flex;
    align-items: center;
    box-shadow: $card-elevation-1;
  }

  &__preparation {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__ingredients {
    width: 50%;
    padding: $separation-16 $separation-16;
    border-radius: $border-radius-2;

    &-title {
    }

    &-items {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: center;
      text-transform: capitalize;

      input {
        accent-color: $primary-color;
      }
    }
  }

  &__steps {
    padding: $separation-16;
  }
}

@media (max-width: $tablet-screen) {
  .recipe {
    &__header {
      flex-wrap: wrap;
    }

    &__title {
      text-align: center;
    }

    &__separator {
      margin: $separation-32 auto;
    }

    &__image {
      width: 100%;
      margin: auto;
    }

    &__content {
      width: 100%;
    }

    &__additional-info {
      width: 100%;
      margin: $separation-16 auto;
    }

    &__ingredients {
      width: 100%;

      &-title {
        text-align: center;
      }
    }

    &__steps {
      text-align: center;
    }
  }
}

@media (max-width: $mobile-screen) {
  .recipe {
    padding: 0;
  }
}