@import "styles/globals.module";

.blogs {
  margin: $separation-32 0;
  padding: 0 $separation-24;

  &__content {
    margin: $separation-32 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 45%);
    gap: $separation-32;
  }
}

@media (max-width: $tablet-screen) {
  .blogs {
    margin: 0;
    padding: 0;

    &__content {
      padding: 0 $separation-24;
      display: flex;
      flex-direction: column;
    }
  }
}