@import "../../styles/globals.module";

.container {
  display: flex;

}

.editor {
  width: 50%;
}

.landing {
  border: solid 5px gray;
  border-radius: 10px;
  width: 50%;
  height: 95%;
  position: absolute;
  left: 50%;
  overflow: hidden;
  overflow-y: scroll;
  resize: both;
}