@import "styles/globals.module";

.recipe {
  background-color: $secondary-color;
  margin-right: -$separation-40;
  margin-left: -$separation-40;
  padding: $separation-16 $separation-40;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $separation-16;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: $separation-16;
  }
}

@media (max-width: $mobile-screen) {
  .recipe {
    padding: 0 $separation-56;
  }
}